[submodule "support/node-canvas"]
	path = support/node-canvas
	url = git://github.com/LearnBoost/node-canvas.git
[submodule "support/express"]
	path = support/express
	url = git://github.com/visionmedia/express.git
[submodule "support/jade"]
	path = support/jade
	url = git://github.com/visionmedia/jade.git
