!!!
html
  head
    title twins | drawback
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src: '/js/jquery.js')
    script(src: '/js/flot/jquery.flot.js')
    script(src: '/js/draw/jquery.flot.text.js')
    script(src: '/js/draw/jquery.flot.coolAxes.js')
    script(src: '/js/draw/linealChart.js')
    script(src: '/js/drawback.js')
    script(src: '/js/draw/linealChart.js')
    script(src: '/js/draw/linealBallsChart.js')
    script(src: '/js/main.js')
  body!= body