!!!
html
  head
    title twins | drawback
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src: '/js/jquery.js')
    script(src: '/js/drawback.js')
    script(src: '/js/RGraph/libraries/RGraph.common.core.js')
    script(src: '/js/RGraph/libraries/RGraph.common.context.js')
    script(src: '/js/RGraph/libraries/RGraph.common.zoom.js')
    script(src: '/js/RGraph/libraries/RGraph.led.js')
    script(src: '/js/draw/leds.js')
    script(src: '/js/main.rgraph.js')
  body!= body