!!!
html
  head
    title twins | drawback
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src: '/js/mootools-1.2.5-core-yc.js')
    script(src: '/js/jquery.js')
    script(src: '/js/drawback.js')
    script(src: '/js/draw/twins.js')
    script(src: '/js/main.js')
  body!= body