body {
  padding: 50px 80px;
  font: 14px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
}

h4 {
  margin: 5px 0;
  color: #88a;
}

div#chart, div#chart-twin {
  width: 400px;
  height: 250px;
  position: relative;
}
.loading {
  background: rgba(200, 200, 200, 0.1) url('bg.png') no-repeat 10px 10px;
}

.download {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font: normal normal normal 12px Helvetica;
}
.download a{
  color: #ccc;
  text-decoration: none;
}
.download a:hover{
  color: #88c;
  text-decoration: underline;
}

div#flot-chart, div#flot-chart-twin {
  width: 600px;
  height: 300px;
  position: relative;
}
div#flot-chart .download {
  top: 8px;
  right: 25px;
}
